<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<@h.easyui />
<script type="text/javascript" src="${ctx}/static/js/views/article/article.js"></script>
</head>
<body>
	<table id="data-list" title="文章管理" data-options="rownumbers:true,singleSelect:true,toolbar:'#tb',fit:true">
	</table>
	
	<div id="tb" class="datagrid-toolbar" style="padding:10px 0px 10px 10px;">
		&nbsp;&nbsp; 
		文章标题： <input class="easyui-textbox"  id="taTitle" name ="taTitle"  style="width: 150px" data-options="prompt:'请输入文章标题'" />
		&nbsp;&nbsp;
		所属栏目：	<select id="taColumnId"
						class="easyui-combotree" name="taColumnId" style="width: 200px;" data-options="prompt:'请选择文章分类'"  animate="true">
					</select>
		&nbsp;&nbsp;
		创建时间：<input id="AddDate" name="AddDate" class="easyui-datebox"  style="width: 100px"  data-options="prompt:'请选择开始日期'" />-
		<input id="endDate" class="easyui-datebox" name="endDate" class="easyui-textbox" style="width: 100px"  data-options="prompt:'请选择开始日期'" />
       	&nbsp;
		<a class="searchcls" onclick="loadData()" href="javascript:void(0)">查询</a>
		<a class="addcls" onclick="add()" href="javascript:void(0)">新增</a>
		&nbsp;
	
	</div>
</body>