<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <@h.easyui />
    <script type="text/javascript" src="${ctx}/static/js/views/tbinstituteDepartmentInfo/tbinstituteDepartmentInfo_list.js"></script>
</head>
<body>
<table id="TbinstituteDepartmentInfoDatagrid" title="系别管理列表"  style="height:auto" data-options="nowrap:true,rownumbers:true,singleSelect:true,toolbar:'#tb',fitColumns:false">
</table>
<div id="tb" class="datagrid-toolbar" style="padding:10px;">
    <div style="display:inline;width:140px;margin-right:10px;"><input type="text" id="tidiName" name="tciNam" class="easyui-textbox" data-options="prompt:'系别名称'" /></div>
    <div style="display:inline;width:140px;margin-right:10px;"><input type="text" id="tiiName" name="tiiName" class="easyui-combobox" data-options="prompt:'所属学院'" /></div>
    <div style="display:inline;width:140px;margin-right:10px;"><input id="AddDate" name="AddDate"  class="easyui-datebox" data-options="prompt:'选择开始时间'" /> 至</div>
    <div style="display:inline;width:140px;margin-right:10px;"><input id="AddDateEnd" name="AddDateEnd"  class="easyui-datebox" data-options="prompt:'选择结束时间'" /></div>
    <a class="searchcls" onclick="findDetail()" href="javascript:void(0)" >查询</a>
       <a class="easyui-linkbutton addcls"  plain="true" onclick="addRow()">新增</a>
</div>
</body>
</html>