<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<@h.easyui />
<script type="text/javascript" src="${ctx}/static/js/Validate.js"></script>
<script type="text/javascript">


/* 
 * 状态是已回复的详情页面  
 * tlm_status=4
 */
$(function(){
	var tlmType=$("#tlmType").text();

	if(tlmType==1){
		$("#tlmType").text("校长信箱");
	}
	if(tlmType==2){
		$("#tlmType").text("家校留言");
	}
	if(tlmType==3){
		$("#tlmType").text("心理咨询");
	}
});

</script>
</head>
<body>
	   
	       <div class="panel-header" class="easyui-tabs">
				<div class="panel-title">运营管理 > 留言管理 > 详情</div>
				<div class="panel-tool"></div>
		   </div>
	    <form id="add-form" class="formc" method="post" action="#">
		<table>
		        <tr height="15px"></tr>
				<tr>
				      <td style="font-weight: bold;" align="right" width="80px">留言类型：</td>
                      <td width="100px" id="tlmType">${tbLeaveMessage.tlmType!''}</td>
	            </tr>	
	            <tr height="15px"></tr>
	             <tr>
				      <td style="font-weight: bold;" align="right" width="80px">留言人：</td>
                      <td width="100px">${answerName!''}</td>
	            </tr>	
	            <tr height="15px"></tr>
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">姓名：</td>
	                  <td width="100px">${tbLeaveMessage.ltmName!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">联系电话：</td>
	                  <td width="100px">${tbLeaveMessage.tlmPhone!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">邮箱：</td>
	                  <td width="100px">${tbLeaveMessage.tlmMail!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">留言内容：</td>
	                  <td width="800px">${tbLeaveMessage.tlmContent!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">留言时间：</td>
	                  <td width="100px">${tbLeaveMessage.tlmAddDate!''}</td>
	            </tr>
	            <tr height="10px"></tr> 
	            
	            </table>
	            
	            <div style="border-bottom: solid 1px #E3E3E3;height:10px;width:500px;"></div>
	           
	           <table>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">审核时间：</td>
	                  <td width="150px">${tbLeaveMessage.tlmCheckTime!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">审核人：</td>
	                  <td width="100px">${uName!''}</td>
	            </tr>
	        	</table>
		
		        <div style="border-bottom: solid 1px #E3E3E3;height:10px;width:500px;"></div>
	            <table>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">回复内容：</td>
	                  <td width="800px">${tbLeaveMessage2.tlmContent!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">回复时间：</td>
	                  <td width="100px">${tbLeaveMessage2.tlmAddDate!''}</td>
	            </tr>
	            <tr height="15px"></tr> 
	            <tr>
	                  <td style="font-weight: bold;" align="right" width="80px">回复人：</td>
	                  <td width="100px">${ttName!''}</td>
	            </tr>
		</table>
	</form>	
</body>
</html>