<div id="addTbBuildingInfoPanel" class="row" style="padding: 0 10px;">
    <!-- left column -->
    
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">教学楼添加</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="col-md-4">
                <form id="addTbBuildingInfoForm" role="form" class="form-horizontal" data-validator-option="{timely:2, focusCleanup:true}">

                    <div class="form-group">
                        <label class="col-sm-3 control-label">用户组</label>
                        <div class="col-sm-9">
                            <input id="" name="" type="text"/>
                        </div>
                    </div>

                    <div class="box-footer">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button id="btnTbBuildingInfoAddClose" type="button" class="btn">取消</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
    
</div>
<script src="static/module/TbBuildingInfo/add.js"></script>
