<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<@h.easyui />
<style type="text/css">
#fm {
	margin: 0;
	padding: 10px 30px;
}

.ftitle {
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.fitem {
	margin-bottom: 5px;
}

.fitem label {
	display: inline-block;
	width: 80px;
}
.submit-btn {
	display: inline-block;
	width: 76px;
	height:28px;
	text-decoration: none;
	background-color: #458BCE;
	text-align: center;
	color: white;
	border-radius: 3px;
	line-height: 28px;
}
.cancel {
	display: inline-block;
	width: 52px;
	height:26px;
	text-decoration: none;
	background-color: white;
	border:1px #a9a9a9 solid;
	text-align: center;
	color: #333;
	line-height: 26px;
}
.submit-btn:hover {
	color : white;
}
.cancel:hover {
	color: #333;
}
</style>
<script type="text/javascript" src="${ctx}/static/js/Validate.js"></script>
<script type="text/javascript" src="${ctx}/static/js/ajaxfileupload.js"></script>
</head>
<body>
	<div>
		<div class="panel-header">
			<div class="panel-title">新增</div>
			<div class="panel-tool"></div>
		</div>
		<div style="margin:15px;width: 900px;">
			<form id="add-form" method="post">
			     <div style="float: left;font-weight: bold;">基础资料</div>
			    <div style="float: right;margin-right: 216px;font-weight: bold;">家长信息</div>
			    <br/>
				<hr style="border: 1px #eee solid;margin: 5px 0; clear:both;"/>
				<div style="float: left;">
				   <div class="fitem">
					<label>学号：</label>
					<input name="tsNumber" id="tsNumber" class="easyui-textbox" style="width:170px;" 
					data-options="required:true,missingMessage:'不能为空!',prompt:'请输入学号'"
					validType="length[1,20]" invalidMessage="长度不能超过20位，请检查!"/>
					<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>姓名：</label>
						<input name="tsName" id="tsName" class="easyui-textbox" style="width:170px;" 
						data-options="required:true,missingMessage:'不能为空!',prompt:'请输入姓名'"
						validType="length[1,10]" invalidMessage="长度不能超过10位，请检查!"/>
						<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>性别：</label>
						<input id="tsSex" class="easyui-combobox" name="tsSex" style="width:120px;" 
						data-options="required:true,missingMessage:'不能为空!',prompt:'请选择性别'"/>
						<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>所属年级：</label><!-- required:true,missingMessage:'不能为空!', -->
						<input id="tbGrade" name="tbGrade" class="easyui-combobox" style="width:120px;" editable="false"
						data-options="required:true,missingMessage:'不能为空!',prompt:'请选择所属年级'"/>
						<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>所属班级：</label><!-- required:true,missingMessage:'不能为空!', -->
						<input id="tbClass" class="easyui-combobox" name="tbClass" style="width:120px;" editable="false"
						data-options="required:true,missingMessage:'不能为空!',prompt:'请选择所属班级'"/>
						<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>身份证号码：</label>
						<input name="tsCardNum" id="tsCardNum" class="easyui-textbox" style="width:170px;" data-options="required:true,missingMessage:'身份证号码不能为空!',prompt:'请输入身份证号码'" 
						validType="idcard" invalidMessage="身份证格式不正确，请检查!"/>
						<span style="color: red"> *</span>
					</div>
					<div class="fitem">
						<label>出生日期：</label>
						<input id="tsBirthday" name="tsBirthday" style="width: 120px" class="easyui-datebox" data-options="prompt:'请选择出生日期'" editable="false"/>
					</div>
					<div class="fitem">
						<label>政治面貌：</label>
						<input name="tsPolitical" id=""tsPolitical"" class="easyui-textbox" style="width:170px;" data-options="prompt:'请输入政治面貌'" 
						validType="length[0,20]" invalidMessage="长度不能超过20位，请检查!"/>
					</div>
					<div class="fitem">
						<label>民族：</label>
						<input name="tsNation" id="tsNation" class="easyui-textbox" style="width:170px;" data-options="prompt:'请输入民族'"
						validType="length[0,20]" invalidMessage="长度不能超过20位，请检查!"/>
					</div>
					<div class="fitem">
						<label>籍贯：</label>
						<input name="tsJiguan" id="tsJiguan" class="easyui-textbox" style="width:170px;" data-options="prompt:'请输入籍贯'"
						validType="length[0,20]" invalidMessage="长度不能超过20位，请检查!"/>
					</div>
					<div class="fitem">
						<label>联系地址：</label><!-- required:true,missingMessage:'不能为空!', -->
						<input id="province" class="easyui-combobox" name="province" style="width:120px;" data-options="prompt:'请选择省份'" editable="false"/>
						<input id="city" class="easyui-combobox" name="city" style="width:120px;" data-options="prompt:'请选择城市'" editable="false"/>
						<input id="county" class="easyui-combobox" name="county" style="width:120px;" data-options="prompt:'请选择县区'" editable="false"/>
						<br/>
					</div>
					<div class="fitem">
						<label></label><!-- required:true,missingMessage:'不能为空!', -->
						<input name="tsAddress" id="tsAddress" class="easyui-textbox" style="width:373px;" 
						data-options="prompt:'请输入详细地址（如街道，门牌号等）'"
						validType="length[1,50]" invalidMessage="长度不能超过50位，请检查!"/>
						<br/>
					</div>
				</div>
				
				<div id="addform" style="float: right;">
				   	<div class="fitem">
						<label>家长姓名：</label><!-- required:true,missingMessage:'不能为空!', -->
						<input name="tsfName" id="tsfName" class="easyui-textbox" style="width:170px;" 
						data-options="prompt:'请输入家长姓名'"
						validType="length[0,10]" invalidMessage="长度不能超过10位，请检查!"/>
					</div>
					<div class="fitem">
						<label>家长电话：</label><!-- required:true,missingMessage:'不能为空!', -->
						<input name="tsfPhone" id="tsfPhone" class="easyui-textbox" style="width:170px;" 
						data-options="prompt:'请输入家长电话'"
						validType="mobile" invalidMessage="手机号格式不正确，请检查!"/>
					</div>
					<div class="fitem">
						<label>家长关系:</label><!-- required:true,missingMessage:'不能为空!', -->
						<input id="tsfRelation" class="easyui-textbox" name="tsfRelation" style="width:170px;"
						data-options="prompt:'请输入家长关系'"
						validType="length[1,10]" invalidMessage="长度不能超过10位，请检查!"/>
						<a href="javascript:void(0)" class="submit-btn" style="width: 50px;margin-left: 20px;height: 25px" onclick="addFamily()">新增</a>
					</div>
					<div class="fitem" style="margin-top: 50px;">
						<hr style="border: 1px #000 solid;width: 400px"/>
					</div>
					<div class="fitem">
						<div style="font-weight: bold;font-size: 15px;float: left;width: 120px">家长关系</div>
						<div style="font-weight: bold;font-size: 15px;float: left;width: 120px">家长姓名</div>
						<div style="font-weight: bold;font-size: 15px;float: left;width: 120px">联系电话</div>
					</div>
					<div class="fitem" >
						<hr style="border: 1px #000 solid;width: 400px;"/>
					</div>
					<div class="fitem" id="familyList"></div>
				</div>
				<div style="clear: both;padding-top: 10px">
					<label style="font-weight: bold;">账号信息</label>
					<hr style="border: 1px #eee solid;margin: 5px 0;"/>
					<div class="fitem">
						<label>登录账号:</label><!-- required:true,missingMessage:'不能为空!', -->
						<input name="tsLoginUser" id="tsLoginUser" class="easyui-textbox" 
						data-options="prompt:'请输入登录账号'"
						validType="length[1,20]" invalidMessage="长度不能超过20位，请检查!"/>
					</div>
					<div class="fitem">
						<label>登录密码:</label>
						<input type="password" name="tsLoginPass" id="tsLoginPass" class="easyui-textbox" 
						data-options="prompt:'请输入登录密码'"
						validType="length[6,15]" invalidMessage="请输入6-15位的字符"/>
					</div>
					<div class="fitem">
						<label>重复密码:</label>
						<input type="password" name="retsPassword" id="retsPassword" class="easyui-textbox" 
						data-options="prompt:'请重复登录密码'"
						validType="equalTo['#tsLoginPass']" invalidMessage="两次输入密码不匹配"/>
					</div>
				</div>
				<input type="hidden" id="names" name="names">
				<input type="hidden" id="phones" name="phones">
				<input type="hidden" id="relations" name="relations">
			</form>
			<hr style="border: 1px #eee solid;margin: 5px 0;"/>
			<div id="dlg-buttons">
				<a href="javascript:void(0)" class="submit-btn" onclick="saveOpen()">提交</a>
			</div>
		</div>
	</div>
	<script type="text/javascript">
        function saveOpen(){
 	 		if($("#add-form").form('validate') == false){
    			return false;
    		}
        	
        	var tsNumber = $("#tsNumber").val();
			var tsLoginUser = $("#tsLoginUser").val();
        	if(userCheck(tsNumber,'stuNum')==false){
				$.messager.alert("提示", "该学号已存在，请核对后重新输入");
				return false;
			}
        	if(tsLoginUser != null && tsLoginUser!=''){
				if(userCheck(tsLoginUser,'student')==false){
					$.messager.alert("提示", "登录账号已存在，请核对后重新输入");
					return false;
				}
        	}
			
			$.ajax({
	 			type:"POST",
	 			dataType:'json',
	 			url:ctx+ '/admin/students/save',
	 			data:$("#add-form").serialize(),
	 			success:function(data){
	 				if(data == '100')
	 				{
	 					parent.addTabFun({
	 						src : ctx + "/admin/students/init_page.htm",
	 						title : "学生管理"
	 					});
	 					parent.closeTab("新增学生");
	 				}
	 			}
	 		});
        	
         }
        
    	$("#tsSex").combobox({
    		data:[
    		      {id:1,text:"男"},
    		      {id:2,text:"女"}],
    		      valueField:'id',
    		      textField:'text',
    		      editable:false,
    		      panelHeight:"auto",
    	});
		$('#tbGrade').combobox({
	        valueField:'id', //值字段
	        textField:'name', //显示的字段
	        url:'${ctx}/admin/students/all/grade.json',
	        width : "120px",
	        editable:false,//不可编辑，只能选择
	        panelHeight:"auto",
	        onChange:function(gId){
	        	//$('#city').combobox('clear');
	         $('#tbClass').combobox({
	          valueField:'id', //值字段
	          textField:'name', //显示的字段
	          url : '${ctx}/upgrade/students/get_class?gId='+gId,
	          editable:false,//不可编辑，只能选择
	     	  });
	        }
	     });
		
 		//地址联动
		$("#province").combobox({   
	  		url:ctx+'/AcquisitionArea/chinaCityService',
	  		valueField:'pid',   
	  		textField:'pname',  
	  		filter: function(q, row){
	  			var opts = $(this).combobox('options');
	  			return row[opts.textField].indexOf(q) == 0;
	  		},
	  		onSelect:function(rec){
	  			$('#city').combobox({   
	  				url:ctx+'/AcquisitionArea/chinaCityServiceByCity?id='+rec.pid,
	  				valueField:'cid',   
	  				textField:'cname', 
					});  
	  		}
		});  
		$("#city").combobox({   
	  		url:ctx+'/AcquisitionArea/chinaCityServiceByCity?id=',
	  		valueField:'cid',   
	  		textField:'cname',  
	  		filter: function(q, row){
	  			var opts = $(this).combobox('options');
	  			return row[opts.textField].indexOf(q) == 0;
	  		},
	  		onSelect:function(rec){
	  			$("#county").combobox({   
	  		  		url:ctx+'/AcquisitionArea/chinaCityServiceByCountTy?id='+rec.cid,
	  		  		valueField:'oid',   
	  		  		textField:'oname',
	  			});  
	  		}
		});
		
		
		//登录名校验
		function userCheck(val,op){
			var fals = false;
			var url = '';
			if(op=='stuNum'){
				url += '${ctx}/admin/students/list_check_student.json?stuNum='+val;
			}else if(op=='student'){
				url += '${ctx}/admin/students/list_check_student.json?loginUser='+val;
			}
			jQuery.ajax({
        		cache : true,
        		type : "get",
        		dataType : "text",
        		url : url,
        		async : false,
        		error : function(request) {
        			alert("服务器繁忙，请刷新重试!");
        		},
        		success : function(data) {
        			if(data!=null){
        				if(data!=0){
        					fals = false;
        					return;
            			}
        				fals = true;
        			}
        			
        		}
        	});
			return fals;
		}
		
		function onRemoveLine(index){
			var hrindex = $('#hr'+index);
			var aindex = hrindex.prev();
			var phoneindex = aindex.prev();
			var nameindex = phoneindex.prev();
			var relationindex = nameindex.prev();
			var phone = phoneindex.text()+",";
			var name = nameindex.text()+",";
			var relation = relationindex.text()+",";
			hrindex.remove();
			aindex.remove();
			phoneindex.remove();
			nameindex.remove();
			relationindex.remove();
			var names = $("#names").val();
			var phones = $("#phones").val();
			var relations = $("#relations").val();
			
			names = names.replace(name,"");
			phones = phones.replace(phone,"")
			relations = relations.replace(relation,"");
			
			$("#names").val(names);
			$("#phones").val(phones);
			$("#relations").val(relations);
		}
		var familyIndex=0;
		function addFamily(){
			
			var tsfName = $("#tsfName").val();
			var tsfPhone = $("#tsfPhone").val();
			var tsfRelation = $("#tsfRelation").val();
			
 	 		if($("#addform").form('validate') == false){
    			return false;
    		}
 	 		var strRelations = $("#relations").val();
 	 		if(strRelations.indexOf(tsfRelation)>=0){
 	 			$.messager.alert("提示信息", "请添加其他家长信息","info");
 	 			return false;
 	 		}
 	 		var strPhones = $("#phones").val();
 	 		if(strPhones.indexOf(tsfPhone)>=0){
 	 			$.messager.alert("提示信息", "手机号码不能重复","info"); 
 	 			return false;
 	 		}
 	 			
			
 	 		var html = $("#familyList").html();
 	 		html += "<div style='font-size: 15px;float: left;width: 120px' name='relations'>"+tsfRelation+"</div>";
 	 		html += "<div style='font-size: 15px;float: left;width: 120px' name='names'>"+tsfName+"</div>";
 	 		html += "<div style='font-size: 15px;float: left;width: 120px' name='phones'>"+tsfPhone+"</div>";
 	 		html += "<a style='margin-left: 10px' onclick='onRemoveLine("+familyIndex+")' href='javascript:void(0)'>删除</a>";
 	 		html += "<hr style='border: 1px #aaa solid;width: 400px;margin-top: 5px' id='hr"+familyIndex+"'/>";
 	 		$("#familyList").html(html);
 	 		
 	 		familyIndex++;
 	 		
			var namesLength = document.getElementsByName("names").length;
			var names = "";
			var phones = "";
			var relations = "";
			for(var i=0; i<namesLength; i++){
				names += document.getElementsByName("names")[i].innerHTML + ",";
				phones += document.getElementsByName("phones")[i].innerHTML + ",";
				relations += document.getElementsByName("relations")[i].innerHTML + ",";
			}
			//if(names!=""){
				names = names.substring(0,names.length-1);
				phones = phones.substring(0,phones.length-1);
				relations = relations.substring(0,relations.length-1);
				$("#names").val(names);
				$("#phones").val(phones);
				$("#relations").val(relations);
				
			
		}
	</script>
</body>
</html>